@font-face {
  font-family: "iconfont"; /* Project id 2267077 */
  src: url('iconfont.woff2?t=1623316244937') format('woff2'),
       url('iconfont.woff?t=1623316244937') format('woff'),
       url('iconfont.ttf?t=1623316244937') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  /* font-size: 16px; */
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-add:before {
  content: "\e61e";
}

.icon-i-right:before {
  content: "\e600";
}

.icon-Cancelcontrol:before {
  content: "\e661";
}

.icon-enter:before {
  content: "\e870";
}

.icon-search:before {
  content: "\e71f";
}

